*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homesContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 0.3fr 2fr 2fr 0.2fr; */
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "sidebar feed feed rightbar"
    "sidebar feed feed rightbar";
}
