.feedContainer{
    height: 95vh;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
   
}

#inner{
    width: 100%;
    overflow: auto;
    height: 100%;
    padding: 7px;
    margin-left: 0.3rem;
}

::-webkit-scrollbar{
    display: none;
}