.feedContainer{
    height: 90vh;
    background-color: rgb(171, 164, 164);
    overflow: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 4rem 10rem;
    gap: 4rem
}