.feedContainer{
    height: 90vh;
    width: 100%;
    background-color: #F5F5F5;
    overflow: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 2rem 0rem;
    gap: 1rem
}