.feedContainer{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

#inner{
    width: 98.4%;
    overflow: auto;
    height: 100%;
    padding-right: 40px;
    box-sizing: content-box;
    margin-left: 0.7rem;
}

::-webkit-scrollbar{
    display: none;
}