/* ------------Font---------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


*{
  margin: 0;
  padding: 0;
}


.PostContainer{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  padding: 1rem;
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-color: white;
  border: 2px solid #E5E7E9;
  border-radius: 5px ;
  margin-bottom: 1rem;
  box-shadow: 1px 2px 5px #888888;
}

/* -----Post Header------ */
.PostHeader{
  flex-basis: 10%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  
}

.ProfileImage{
  flex-basis: 7%;
  width: 100%;
}

.PostInfo{
  height: auto;
  flex-basis: 87%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  text-align: left;
  gap: 0.5rem;
}

.PostInfo div{
  height: 1rem;
}

/* -----PostContent----- */
.PostContent{
  flex-flow: 75%;
  text-align: justify;
  display: flex;
  flex-flow: column nowrap;
  padding-top: 1rem;
}

.Content{
  font-size: 15px;
  font-family: 'Roboto Slab', serif;

}

.PostImage{
  display: flex;
  flex-flow: column nowrap;
  height: 20rem;
  width: 100%;
  justify-content: center; 
  text-align: center;
  
}

.Images{
  object-fit: cover;
}

/* Carousel Arrows */
.ant-carousel .slick-next{
  font-size: 20px;
  color: black;
  opacity: 0.9;
  height: 20px;
  width: 20px;
  right: 0px;
  z-index: 1;
  margin: 0;
}

.ant-carousel .slick-prev{
  font-size: 25px;
  color: black;
  opacity: 0.9;
  height: 25px;
  width: 25px;
  left: 0;
  z-index: 1;
  margin: 0;
}


.ant-carousel .slick-next:hover, .ant-carousel .slick-prev:hover{
  color: rgba(9,9,121,1);
  background-color: gray;
  border: grey;
  border-radius:50% ;
  height: 25px;
  width: 25px;
}
/* Post Result */
.PostResult{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0rem 0rem 0rem;
}

.ReactResult{
  flex-basis: 10%;
  text-align: right;
  padding-top: 5px ;
  font-size: 20px;
}

.ResultIcon{
  flex-basis: 70%;
  font-size: 20px;
}
.CommentsResult{
  flex-basis: 20%;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  justify-content: flex-start;
  font-size: 20px;
}

.commentsIcon{
  font-size: 20px;
}

/* ------Post Footer------ */
.PostFooter{
  flex-basis: 15%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.ActionButtons{
  flex-basis: 30%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.Button{
  border:none;
  background: none;
  text-align: center;
  font-size: 17px;
  width: 30%;
  height: 1rem;
  padding-bottom: 2rem;
}

.ButtonIcons{
padding-bottom: 1rem ;
font-size: 20px;
}

.Button:hover{
  color:rgb(18, 79, 234) 
  
}

.readOrHide{
  text-decoration: underline;
}