.upComingContainer{
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 1rem;
  box-shadow: 1px 2px 5px #888888;
}

.EventInfo{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 0.5rem;
}