@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* main lay out */
.container {
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.president_header {
  display: flex;
  justify-content: space-between;

  .president_header__button {
    margin-top: 1rem;
    border-radius: 5px;
    // width: fit-content;
  }
}

.club_info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3.ant-typography {
    margin: 5px 0;
  }

  .president_returnclub_button {
    margin-top: 1rem;
    border-radius: 5px;
    align-self: flex-end;
  }
}

.club_slogan {
}

/* .container {
  margin: 32px;
  text-align: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  padding: 10px;
} */
