/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Pacifico&family=Roboto:wght@100&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

:root {
  --color_dark: hsl(252, 30%, 27%);
  --color_white: hsl(252, 30%, 100%);
  --color_light: hsl(252, 30%, 95%);
  --color_gray: hsl(252, 15%, 65%);
  --color_black: hsl(252, 30%, 10%);

  --border_radius: 2rem;
  --card_border_radius: 1rem;
  --btn_padding: 0.6rem 2rem;
  --search_padding: 0.6rem 1rem;
  --card_padding: 1rem;
}

/* Whole page */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  /* border: 1px solid red; */
}

body {
  font-family: "Noto Sans", cursive;
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0 auto;
  background-color: #f1f0ff;
  color: #373d3f;
}

.container {
  width: 80%;
  margin: 0 auto;

}

/* //Main part */
.container .ab,
.main-left .ml,
.main-content .mpost {
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 7px;
  background-color: rgb(255, 255, 255);
}
/* Cover-image */
.bg-image {
  height: 30vh;
  background-image: url("../../image/hall.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.pd-right ul {
  list-style-type: none;
  display: flex;
  column-gap: 10px;
  text-decoration: none;
}

.pd-right .link {
  justify-content: flex-start;
  column-gap: 2rem;
}

.btn {
  border: none;
  padding: 5px;
  background: linear-gradient(90deg,rgba(0,212,255,1)  0%, rgba(9,9,121,1) 90%, rgba(2,0,36,1) 100%);
  opacity: 0.8;
  color: rgb(237, 224, 224);
  border-radius: 10px;
}

/* Profile-info div */
.pd-left {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #edf2fc;
}

.profile-info h1 {
  font-size: 1.5rem;
  font-weight: bold;
}
.pdl-row:nth-child(1) {
  display: flex;
  column-gap: 10px;
  align-items: end;
}

.pdl-row:nth-child(2) {
  margin-top: 10px;
}
.pfi-img {
  width: 150px;
  height: 150px;
  border: 1px solid transparent;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(160, 55, 255, 1) 30%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 50%;
  background-origin: border-box;
}

.profile-info .fr-list img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.profile_picture img {
  width: 2.7rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

/* CREATE POST SECTION */

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  z-index: 15;
  transition: all 0.5s ease;
  display: grid;
  place-items: center;
  display: none;
}

#post_form {
  width: 39.5%;
  border-radius: var(--card_border_radius);
  background: var(--color_white);
  align-items: center;
  padding: var(--card_padding);
  position: relative;
  transition: all 0.5s ease-in-out;
}

.pd-left .pdl-row .upload_image .form_title {
  border-bottom: 2px solid var(--color_light);
  display: flex;
  justify-content: center;
  position: relative;
}

.pd-left .pdl-row .upload_image .form_title #close_btn {
  position: absolute;
  right: 0.2rem;
  top: 0.1rem;
}

.pd-left .pdl-row .upload_image .user_infor {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.pd-left .pdl-row .upload_image #mode {
  border: 1px solid var(--color_dark);
  border-radius: 4px;
}

.pd-left .pdl-row .upload_image .caption {
  margin: 1rem 0;
}

.pd-left .pdl-row .upload_image label{
  cursor: pointer;
  background: var(--color_light);
  border-radius: var(--card_border_radius);
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.pd-left .pdl-row .upload_image label i {
  font-size: 3rem;
}

.pd-left .pdl-row .upload_image input[type="file"] {
  display: none;
}

.pd-left .pdl-row .upload_image input[type="submit"] {
  width: 100%;
}

/* Main-content */
.main-left h3,
.main-post h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.5rem;
}

.main-content {
  display: flex;
  column-gap: 0.5rem;
}

.main-left {
  float: left;
  width: 100%;
}
.main-post {
  float: left;
  width: 100%;
}

/* Intro main left */
.main-left h3 {
  margin-bottom: 0.7rem;
}
.ml {
  margin-bottom: 3vh;
}
.p-row {
  display: flex;
  column-gap: 10px;
  align-items: baseline;
  margin: 0.5rem auto;
}
.p-symbol {
  width: 10px;
  height: 10px;
  background-color: red;
}
.img-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  font-size: 0.7rem;
}

.it-row1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #8c979a;
  margin-bottom: 0.5rem;
}

.it-row1 a {
  color: purple;
  text-decoration: none;
}

.img-list div img {
  width: 100%;
}

/* Main-post */
.account {
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    background: var(--color_white);
    padding: 0.4rem var(--card_padding);
    border-radius: var(--border_radius);
}

.account input[type="text"] {
    justify-self: start;
    width: 100%;
    padding-left: 1rem;
    background: transparent;
    color: var(--color_dark);
    margin-right: 1rem;
}

.link {
  display: flex;
  column-gap: 3rem;
  /* padding-left: 8.5rem; */
  justify-content: center;
  padding: 0.8rem;
}

.link a {
  display: flex;
  column-gap: 5px;
  text-decoration: none;
  font-size: 14px;
  color: #373d3f;
}


.event .p-note p {
  font-size: 0.6rem;
}

/* Media query */
@media (max-width: 1023px) {
  .container {
    width: 95%;
    margin: auto;
  }
  /* Adjust profile */
  .profile-info .pd-left,
  .pd-left .pdl-row,
  .pd-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* Adjust main content */
  .main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-left {
    width: 100%;
  }

  .img-list {
    padding: 10px;
    grid-gap: 20px;
  }
  .main-post {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .container {
    width: 95%;
    margin: auto;
    overflow: hidden;
  }
  .main-left,
  .main-post {
    width: 100%;
  }

  .pd-right .link {
    display: none;
  }
  .np.row2 {
    padding: 1rem;
  }
}
