
*{
  margin: 0;
  padding: 0;
}

.upComingContainer{
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  /* flex-flow: column nowrap; */
  /* align-items: flex-start; */
  /* gap: 1rem; */
  /* box-shadow: 1px 2px 5px #888888; */
  /* margin: auto; */
}


.event-card {
  margin: 10px 0px;
  border: 2px solid #E5E7E9;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 2px 5px #888888;
  height: auto;
  display: flex;
  flex-direction: column;

    .event-pic{
      flex: 1;
      .slick-slide div{
        margin: 0;
      }
    }
    .event-content{
      flex: 1;
      // text-align: center;
      padding: 0.5rem;
      .ant-typography{
        margin: 0;
      }
      .ant-typography pre {
        margin: 0;
        padding: 0px;
      }
    }
}

.event-content{
  border-top: 1px solid;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  
}