.upComingContainer{
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 1rem;
}

.EventInfo{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 0.5rem;
}