.createClubContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.createClubForm {
    width: 50%;
    padding: 1rem;
}

.inputClubForm {
    width: 100%;   
    border: none;
    border-style: none none solid none;
    border-image: linear-gradient(90deg,rgba(0,212,255,1)  0%, rgba(9,9,121,1) 90%, rgba(2,0,36,1) 100%) 1;
}

.inputClubForm.ant-input-affix-wrapper > input.ant-input {
    background: none;
    color: black;
}

.inputClubForm.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    color: black;
    border: 0px;
    border-style: none none solid none;
    background: white;
    /* border-image: linear-gradient(90deg,rgba(0,212,255,1) 0%, rgba(9,9,121,1) 90%, rgba(2,0,36,1) 100%) 1; */
}