/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Pacifico&family=Roboto:wght@100&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    
}

.homeContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #F9F2ED;
}

.hContainer {
    align-self: center;
    width: 85%;
}

.PostListContainer{
    height: 95vh;
    width: 100%;
    overflow: auto;
    border-radius: 10px;
    padding: 7px;
    margin-left: 0.3rem;
}

::-webkit-scrollbar{
    display: none;
}

@media (max-width: 993px) {
    .hContainer {
      width: 95%;
      margin: auto;
      overflow: hidden;
    }
}
