
.privacyContainer{
    background-color: whitesmoke;
    height: 400px;
    padding: 20px;
    overflow: auto;
}

.privacyContainer pre{
    font-family: "Noto Sans", cursive;
    font-size: 15px;
    font-weight: 600;
    word-wrap: break-word;
}