.navbar--container {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1px solid lightgray;
  background-color: white;
}

.navLeft{
  display: flex;
}

.navLeft > img {
  object-fit: contain;
  height: 4rem;
}


.navSearch{
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  color: gray;
  
}

.navRight{
  display: flex;
}