.ClubContainer{
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  height: auto;
}

.ButtonImage{
  all:unset;
  border-radius:50%;
}

.clubInfo{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  gap: 0.2rem;
  width: 100%;
}

.JoinButton{
  width: fit-content;
  margin-top: 0.2rem;
  margin-left: 4rem;
  border: 1px solid #4D5364;
  border-radius: 32px;
  display: flex;
  flex-flow: row nowrap ;
  justify-content: space-between;
  text-align: center;
}