.RecommendContainer{
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
  height: auto;
  padding: 1rem;
  gap: 0.2rem;
  border-radius: 5px;
  width: 100%;
  border: 2px solid #E5E7E9;
  box-shadow: 1px 2px 5px #888888;
}

.RecommendTitle{
  font-weight: bold;
  width: 100%;
}

.ViewMoreButton{
  background: none;
  border: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.5rem;
  font-size: 15px;
}

.ViewMoreIcon{
  padding-top: 0.2rem;
}