@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');



.BodyCotainer{
  margin: 0;
  background: rgb(2,0,36);
  background: linear-gradient(90deg,rgba(0,212,255,1)  0%, rgba(9,9,121,1) 90%, rgba(2,0,36,1) 100%);
 

  opacity: 0.94;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  
  justify-content: center;
  padding: 3rem 5rem 10rem 5rem; 
  gap: 5rem; 
  border-style: hidden;
 
}


@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.MainContainer{
  display: flex;
  flex-flow: row nowrap;
  height: 65vh;
  box-shadow: 0.5rem 0.5rem 6rem -0.5rem rgb(31, 30, 30);
  
  justify-content: center;
  
}

/* ----- Logo and Title login page ------- */
.Logo{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  
}

.logo-img {
  flex-basis: 30%;
}
.title {
  flex-basis: 70%;
  align-self: center;
}

.title h1 {
  margin: 0px;
  padding: 0px;
}


/* another */
.BackgroundSide{
  height: 65vh;
  /* background-image: url("/src/image/Galaxy-login.png"); */
  background-size: cover;
}

.BackgroundSide video{
  width: 100%;
  height: 65vh;
  object-fit: cover;
  position: absolute;
}

.ButtonContainer{
  height: 65vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 3rem;
}

.ContentSide{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #526F85;
  height: 65vh;
  width: 100%;
  
}

.LoginCotainer{
  display: flex;
  flex-flow: column nowrap;
  width: fit-content;
  height: 65vh;
  align-items: center;
  padding: 2rem;
  justify-content: space-between;
  background-color: #526F85;
}

.RegisterCotainer{
  display: flex;
  flex-flow: column nowrap;
  height: 65vh;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #526F85;
}

.LoginCotainer h1{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: white;
  
}

.RegisterForm{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: fit-content;
  height: 65vh;
}

.RegisterItems{
  width: 100%;
  color: white;
  border: none;
  border-style: none none solid none;
  background: #384656;
  border-image: linear-gradient(-45deg, rgba(144,0,241,1) 0%, rgba(253,29,29,1) 50%, rgba(235,170,80,1) 100%) 1;
}

.LoginItems{
  height: 3rem;
  /* width: 100%; */
  border: none;
  border-style: none none solid none;
  background: #384656;
  border-image: linear-gradient(-45deg, rgba(144,0,241,1) 0%, rgba(253,29,29,1) 50%, rgba(235,170,80,1) 100%) 1;
}

.ant-input-affix-wrapper > input.ant-input{
  background: none;
  color: white;
}

.ant-picker-input > input{
  color: white;
}

.ant-picker-suffix {
  color: white;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  color: white;
  
  border: none;
  border-style: none none solid none;
  background: #384656;
  border-image: linear-gradient(-45deg, rgba(144,0,241,1) 0%, rgba(253,29,29,1) 50%, rgba(235,170,80,1) 100%) 1;
}

.button-box {
  box-shadow: 0 0 20px 9px #fb31ed77;
  border-radius: 30px;
  margin-bottom: 35px;
  position: relative;
  /* width: fit-content; */
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-toggle {
  color: white;
  font-weight: bold;
  padding: 10px 25px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  
}

#toggle {
  top: 0;
  left: 0;
  background: rgb(2,0,36);
  background: linear-gradient(90deg,rgba(0,212,255,1)  0%, rgba(9,9,121,1) 90%, rgba(2,0,36,1) 100%);
  width: 120px;
  height: 100%;
  position: absolute;
  border-radius: 30px;
  transition: 1s;
}

.btn-gradient{
  background: rgb(2,0,36);
  background: linear-gradient(90deg,rgba(0,212,255,1)  0%, rgba(9,9,121,1) 90%, rgba(2,0,36,1) 100%);
  background-position: right;
  background-size: 200%;
  transition: 500ms ease-in-out;
}

.btn-gradient:hover {
  background: rgb(144,0,241);
  background: linear-gradient(200deg, rgba(235,170,80,1) 0%, rgba(253,29,29,1) 50%, rgba(144,0,241,1) 100%);
  background-position: left;
}


.Agreement{
  color:blue;
 
}
.ant-select-arrow {
  color: white;
}
