@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');

.Header{
  height: 15vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.BodyCotainer{
  margin: 0;
  background: rgba(144,0,241,1);
  background: linear-gradient(-45deg, rgba(144,0,241,1) 0%, rgba(253,29,29,1) 50%, rgba(235,170,80,1) 100%);
  opacity: 0.9;
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  -webkit-animation: gradient 10s ease infinite;
  height: 85vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 5rem 5rem;
  z-index: 0;
}


@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.MainContainer{
  display: flex;
  flex-flow: row nowrap;
  height: 65vh;
  box-shadow: 0.5rem 0.5rem 6rem -0.5rem rgb(71, 71, 71);
  justify-content: center;
}

.BackgroundSide{
  height: 65vh;
}


.ActionButton{
  width: 10rem;
  height: 3rem;
  font-style: italic;
  font-weight: bold;
  
}



.ContentSide{
 
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  background-color: #526F85;
  height: 65vh;
}

.LoginCotainer{
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 65vh;
  text-align: center;
  align-items: center;
  padding: 2rem;
  background-color: #526F85;
}

.RegisterCotainer{
  display: flex;
  flex-flow: column nowrap;
  /* width: 100%; */
  height: 65vh;
  /* justify-content: space-between; */
  align-items: center;
  padding: 2rem;
  background-color: #526F85;
}

.LoginCotainer h1, .RegisterCotainer h1{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.RegisterForm{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* width: 100%; */
  height: auto;
}

.RegisterItems{
  
  width: 100%;
  color: white;
  border: none;
  border-style: none none solid none;
  background: #384656;
  border-image: linear-gradient(-45deg, rgba(144,0,241,1) 0%, rgba(253,29,29,1) 50%, rgba(235,170,80,1) 100%) 1;
}

.LoginItems{
  height: 3rem;
  border: none;
  border-style: none none solid none;
  background: #384656;
  border-image: linear-gradient(-45deg, rgba(144,0,241,1) 0%, rgba(253,29,29,1) 50%, rgba(235,170,80,1) 100%) 1;
}

.ant-input-affix-wrapper > input.ant-input{
  background: none;
  color: white;
}

.ant-picker-input > input{
  color: white;
}

.ant-picker-suffix {
  color: white;
}

.button-box {
  box-shadow: 0 0 20px 9px #fc4a0377;
  border-radius: 30px;
  margin-bottom: 35px;
  position: relative;
  /* width: fit-content; */
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-toggle {
  color: white;
  font-weight: bold;
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  
}

#toggle {
  top: 0;
  left: 0;
  background: linear-gradient(200deg, rgba(144,0,241,1) 0%, rgba(253,29,29,1) 50%, rgba(235,170,80,1) 100%);
  width: 120px;
  height: 100%;
  position: absolute;
  border-radius: 30px;
  transition: 1s;
}

.btn-gradient{
  background: rgb(144,0,241);
  background-image: linear-gradient(200deg, rgba(144,0,241,1) 0%, rgba(253,29,29,1) 50%, rgba(235,170,80,1) 100%);
  /* width: 100%; */
  background-position: right;
  background-size: 200%;
  transition: 500ms ease-in-out;
}

.btn-gradient:hover {
  background: rgb(144,0,241);
  background: linear-gradient(200deg, rgba(235,170,80,1) 0%, rgba(253,29,29,1) 50%, rgba(144,0,241,1) 100%);
  background-position: left;
}

@media screen and (max-width: 1200px) {
  .RegisterCotainer, .LoginCotainer {
    height: fit-content;
    width: fit-content;
  }
}