.sideContainer{
    height: 95vh;
    margin: 40px 0 0 10px;
    border-radius: 1px;
    text-align: center;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.sideAvatar{
    margin-bottom: 10px;
}

.sideTop{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #40a9ff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 1px 0px 3px #888888;
    
}

.sideTop h2{
    font-size: 1.6rem;
    font-weight: 600;
    color: black;
}

.sideTop h4{
    font-size: 0.9rem;
    font-weight: 500;
    color: black;
    opacity: 0.8;
}

.sideTop > img{
    margin-bottom: -30px;
    width: 100%;
    height: 60px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
}

.sideStats{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
}

.sideStat{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.sideStat > p {
    color: gray;
    font-size: 13px;
    font-weight: 600;
}

.sideStatNum{
    font-weight: bold;
    color: #0a66c2 !important;
}

.sideBottom{
    text-align: left;
    padding: 10px;
    border: 1px solid lightgrey;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 1px 2px 5px #888888;
}

.sideRecentItem{
    display: flex;
    font-size: 0.7rem;
    color: gray;
    font-weight: bolder;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 5px;
}

.sideRecentItem:hover{
    background-color: #1890ff;
    border-radius: 5px;
    cursor: pointer;
    color: black;
}

.sideAdvertise{
    padding: 10px;
    border: 1px solid lightgrey;
    background-color: white;
    border-radius: 5px;
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 2px 5px #888888;
}

.sideAdvertise > h2 {
    font-size: 1rem;
}

.sideFooter{
    text-align: left;
    color: #888888;
    align-self: end;
    text-align: center;
}