

*{
    margin: 0;
    padding: 0;
}


.request-list {
    height: 70vh;
    border: 2px solid red;
}


.request-element {
    .ant-page-header {
        box-sizing: border-box;
        margin: 5px 0px;
        color: rgba(0,0,0,.85);
        font-size: 1rem;
        font-variant: tabular-nums;
        line-height: 5px;
        list-style: none;
        font-feature-settings: "tnum";
        position: relative;
        padding: 20px 20px;
        background-color: white;
    }
}



