.ClubContainer{
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

.ButtonImage{
  width: 55px;
  height: 55px;
  border-radius:50%;
}

.clubInfo{
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-size: 10px;
}