
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;

}

/* main lay out */
.admin-container {
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    background-color :wheat;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ----- Area 1 ------ */

.admin-header {
    height: 30%;
    /* background-color: white; */
    /* border: 2px solid black; */
}

.admin-header-title {
    background-color: #000000;
    font-size: 3rem;
    text-align: center;
    height: 30%;
}

/* area 1 - title  */
.admin-header-subtitle {
    height: 70%;
    margin-top: 10px;
}

.header-description{
    height: 80%;
    padding-left: 20px;
    /* border: 2px solid red; */
    margin-top: 5px;
}

.header-description>.ant-descriptions-header {
    margin-bottom: 20px;
}




/* ------- Area 2 ---------  */

.admin-tab {
    height: 70%;
    margin: 10px 0px;
    /* border: 2px solid red; */
}


/* .admin-tab-content {
    height: 10%;
} */


.ant-tabs-top>.ant-tabs-nav {
    margin: 0px;
}